@{
    Layout = "_LayoutGuest";
}

    <div class="jumbo-show debug"></div>
    <div class="text-center main-section container py-4">
      <h1 class="title mb-4">Scopri il viaggio</h1>
      <div class="action-btn">
        <button type="button" class="btn btn-info">Action</button>
        <button type="button" class="btn btn-info">Action</button>
        <button type="button" class="btn btn-info">Action</button>
      </div>
      <div class="text-start px-md-5 pt-4 ">
        <div class="d-flex align-items-center mb-3">

          <h2 class="me-3">Nome del pacchetto</h2>
          <h5 class="mb-0">Euri/ x pers</h5>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque possimus ad fugit expedita esse eum laboriosam, perferendis dicta. Ex necessitatibus sed maiores excepturi corrupti, modi fuga, recusandae, accusantium exercitationem magnam velit laborum error quis ratione ad? Dolorem fugiat est quaerat quam quod! Ea aut impedit illo porro quae id pariatur.</p>
        <div class="mt-4">
          <div class="square-info d-inline-block py-3 text-center me-5">
            <p class="mb-0">Prenotaz</p>
          </div>
          <div class="square-info d-inline-block py-3 text-center me-5">
            <p class="mb-0">Range</p>
          </div>
          <div class="square-info d-inline-block py-3 text-center me-5">
            <p class="mb-0">cat</p>
          </div>
        </div>
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col-10 col-lg-6 debug py-3">
              <h3>Destinazione</h3>
              <h4>partenza</h4>
              <h4>rientro</h4>
              <h3>incluso</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nesciunt est perferendis corporis nam eveniet?</p>
              <h3>incluso</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nesciunt est perferendis corporis nam eveniet?</p>
            </div>
            <div class="col-2 col-lg-6 debug py-3">
              <h3>Prenota</h3>
              <div class="debug reservation d-flex flex-column pe-lg-5 ps-lg-3 py-4">                  
                  <p class=" mb-0">Nome Intestatario</p>
                  <input type="text" class=" mb-2 form-control searcher" >
                  <p class=" mb-0">Cognome Intestatario</p>
                  <input type="text" class=" mb-2 form-control searcher" >
                  <p class=" mb-0">Età</p>
                  <input type="text" class=" mb-2 form-control searcher" >
                  <p class=" mb-0">codice fiscale</p>
                  <input type="text" class=" mb-2 form-control searcher" >
                  <button type="button" class="btn btn-info align-self-end mt-3">Prenota</button>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


