html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* home guest*/
.debug {
    background-color: rgba(95, 158, 160, 0.685);
    border: 1px solid cadetblue;
}

footer {
    height: 80px;
}

.main {
    min-height: calc(100vh - 200px);
    position: relative;
}

.jumbotron {
    background-color: #ebeae4;
}

.jumbo-img {
    width: 98%;
    position: absolute;
}

.jumbo-md {
    padding: 0 250px;
    min-height: 460px;
}

.text-col {
    padding-top: 87px;
}

.research, .card-container {
    padding: 0 250px;
}

.card-container img {
    width: 100%;
    min-height: 50px;
}

.card-container a {
    color: black;
    text-decoration: none;
}


/* //media */

@media screen and (max-width: 992px) {

    .jumbotron {
        background-color: #ffffff;
    }

    .jumbo-img {
        width: 100%;
        position: static;
    }

    .jumbo-md {
        padding: 15px;
    }

    .research, .card-container {
        padding: 0;
    }

    .text-col {
        padding-top: 0;
    }
}


/*show guest*/

.jumbo-show{
  background-image: url(/img/show-jumbo.png);
  background-position: center;
  background-size: cover;
  height: 350px;
}
.main-section{
  margin-top: -50px;
  background-color: #ebeae4;
}
.main-section .title{
  font-size: 3.2rem;
}

.main-section .square-info{
  background-color: rgb(238, 114, 69);
  color: white;
  min-width: 160px;
}


/*loader*/
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-spinner div {
        transform-origin: 40px 40px;
        animation: lds-spinner 1.2s linear infinite;
    }

        .lds-spinner div:after {
            content: " ";
            display: block;
            position: absolute;
            top: 3px;
            left: 37px;
            width: 6px;
            height: 18px;
            border-radius: 20%;
            background-color: #F58E43;
        }

        .lds-spinner div:nth-child(1) {
            transform: rotate(0deg);
            animation-delay: -1.1s;
        }

        .lds-spinner div:nth-child(2) {
            transform: rotate(30deg);
            animation-delay: -1s;
        }

        .lds-spinner div:nth-child(3) {
            transform: rotate(60deg);
            animation-delay: -0.9s;
        }

        .lds-spinner div:nth-child(4) {
            transform: rotate(90deg);
            animation-delay: -0.8s;
        }

        .lds-spinner div:nth-child(5) {
            transform: rotate(120deg);
            animation-delay: -0.7s;
        }

        .lds-spinner div:nth-child(6) {
            transform: rotate(150deg);
            animation-delay: -0.6s;
        }

        .lds-spinner div:nth-child(7) {
            transform: rotate(180deg);
            animation-delay: -0.5s;
        }

        .lds-spinner div:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.4s;
        }

        .lds-spinner div:nth-child(9) {
            transform: rotate(240deg);
            animation-delay: -0.3s;
        }

        .lds-spinner div:nth-child(10) {
            transform: rotate(270deg);
            animation-delay: -0.2s;
        }

        .lds-spinner div:nth-child(11) {
            transform: rotate(300deg);
            animation-delay: -0.1s;
        }

        .lds-spinner div:nth-child(12) {
            transform: rotate(330deg);
            animation-delay: 0s;
        }

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
